<!--<div ui-grid="row.entity.subGridOptions" style="height:150px;"></div>-->
<html ng-app="app">
<body>  
	<div class="container">
	<div ng-controller="MainCtrl">
	<h4 style="text-align:center;"><u>Receive By PO</u></h4>
     <form role="form" class="form-horizontal">
     <fieldset ng-disabled="row.entity.isLocked=='true'">
         <div class="form-group">
		    <div class="col-sm-4">
		 	 <label>PO Number:</label>
		      <input id="po" class="form-control" value={{row.entity.poNbr}} readonly >
		    </div>
			
           <div class="col-sm-4">
		 	 <label>Delivery Number:</label>
		      <input id="delnbr" class="form-control" value={{row.entity.deliveryNbr}} readonly >
		    </div>
			
            <div class="col-sm-4">
		 	 <label>Item Number:</label>
		      <input id="itemnbr" class="form-control" value={{row.entity.itemNbr}} readonly >
		    </div>
		</div>	
		
         <div class="form-group">
		    <div class="col-sm-4">
		 	 <label>Total Qty:</label>
		      <input id="totqty" class="form-control" value={{row.entity.totalQty}} readonly >
		    </div>
			
           <div class="col-sm-4">
		 	 <label>Due Qty</label>
		      <input id="dueqty" class="form-control" value="{{dueQty(row.entity.totalQty,row.entity.rcvdQty)}}" readonly>
		    </div>
			
            <div class="col-sm-4">
		 	 <label>Qty To Receive:</label>
		      <input id="rcvqty" type="number" class="form-control"  ng-disabled="row.entity.poStatus=='Approved by Manager'" ng-model="row.entity.rcvdQty" ng-pattern="/^[0-9]+$/" min=0 ng-change="checkRcvQty(dueQty(row.entity.totalQty,row.entity.rcvdQty))">
		    </div>
		</div>	

        <div class="form-group">
		  <div class="col-sm-4">
          <label>No of Pallets:</label>
          <input id="pallet" class="form-control" ng-disabled="!row.entity.rcvdQty" ng-model="row.entity.palletCount" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
          </div>

           <div class="col-sm-4">
           <label>SlotID:</label>
           <select id="slot" class="form-control"  ng-disabled="!row.entity.rcvdQty || !row.entity.palletCount" ng-model="row.entity.slotId" ng-options="slt.name as slt.name for slt in slotid">
        <option value="" ng-if="row.entity.slotId == null">Select Slot</option>
       <!-- <option ng-repeat="slot in slotid">
           {{slot}}
           </option>-->
         </select>
          </div>

           <div class="col-sm-4">
		   <label for="userid">Status:</label>
           <span class="form-control" ng-model="useridsource" >{{row.entity.poStatus}}</span>
          </div>
		</div>
		
   <div>
           <div class="form-group">
		    <div class="col-md-6 center-block">
	       <button class="btn-lg btn-primary custom center-block" ng-disabled = "!row.entity.slotId || show == 1 || overrideEnable" 
         ng-click="show = 1;row.entity.poStatus='Received';row.entity.isLocked='true';noMsgFirst=1;persistData(row.entity)">Receive</button>
		   </div>
		   <div class="col-md-6 center-block">
	       <button class="btn-lg btn-primary custom center-block" ng-disabled = "!overrideEnable || !row.entity.slotId" data-toggle="modal" data-target="#myModal">Generate Override</button>
		   </div>
		      <div class="col-sm-8" style="margin-top:10px;width:1000px">
             <div ng-show="show==1" class="alert alert-success">
			 <a class="close" data-dismiss="alert">×</a>
              <strong>Success! PO {{row.entity.poNbr}} for Item {{row.entity.itemNbr}} Received Successfully. Label {{row.entity.poNbr}}{{row.entity.itemNbr}}-{{row.entity.slotId}} has been generated!!</strong>
			 </div>
             <div ng-show="row.entity.isLocked=='true' && noMsgFirst != 1 && row.entity.poStatus!='Waiting for Override'" class="alert alert-info">
			 <a class="close" data-dismiss="alert">×</a>
              <strong>PO {{row.entity.poNbr}} for Item {{row.entity.itemNbr}} has already been Received!!</strong>
			 </div>	
		     <div ng-show="row.entity.isLocked=='true' && row.entity.poStatus=='Waiting for Override'" class="alert alert-info">
			 <a class="close" data-dismiss="alert">×</a>
              <strong>PO {{row.entity.poNbr}} for Item {{row.entity.itemNbr}} is waiting for Manager Approval!!</strong>
			 </div>		 		 
            </div>	
          </div>
   </div> 



       <script src="js/appforpo.js"></script>
       </fieldset>
</form>
</div>
</div>

            <!--Modal -->
           <div class="modal fade" id="myModal" role="dialog" data-backdrop="false" aria-labelledby="myModalLabel" aria-hidden="true">
             <div class="vertical-alignment-helper">
               <div class="modal-dialog vertical-align-center">
                 <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                     <h4 class="modal-title" id="myModalLabel">Supervisor Override Confirm</h4>
                  </div>
                    <div class="modal-body">
                    <textarea id="modalcomments" placeholder="Enter Comments for Supervisor" class="form-control" ng-model="row.entity.comment"></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                      <button type="button" class="btn btn-default" ng-click="row.entity.poStatus='Waiting for Override';
                      row.entity.isLocked='true';persistDataOverride(row.entity);"data-dismiss="modal">OK</button>
                    </div>
                  </div>
               </div>
            </div>
          </div>
</body>
</html>

